/* 메인 콘텐트 */
#main_content { position: relative; width: 1000px; height: 450px; margin: 0 auto; }
/* 샘플 메뉴리스트 */
#category { position: absolute; top: 70px; left: 20px; }
#sample_menu { width: 200px }
#sample_start { position: absolute; top: 140px; left: 700px; }
#foodname { width: 250px; font-size: 26px; text-align: center; }
#start_btn { 
    margin: 50px;
    font-size:26px; padding: 20px 50px 20px 50px;
    background-color: #ffffff; color: #000000; 
    border: 1pt solid; border-radius: 5px; border-color: #BDBDBD; 
}

/* 커스텀 메뉴리스트 */
#custom_list { 
    position:relative; top: 20px; left: 150px; height: 300px; width: 250px;
    border: 1pt solid; border-radius: 5px; border-color: #BDBDBD;
    background-color: white;
}
#custom_list h1 { text-align: center; }
#custom_list ul { font-size: 20px; margin-top: 8px; font-weight: 500 ; }
#foodlist { margin-left: 30px; }
#page_num {	position: absolute; left: 1%; right: 1%; bottom: 0; 
    text-align: center;  }
#page_num li { display: inline-block; }

#custom_add { position:absolute; top: 320px; left: 0px; }

#custom_add_btn {
    margin-top: 10px; font-size: 20px; padding: 5px 35px 5px 35px;
    background-color: #ffffff; color: #000000; 
    border: 1pt solid; border-radius: 5px; border-color: #BDBDBD; 
}
#custom_del_btn { 
    position:absolute; top: 385px; left: 290px;
    font-size: 20px; padding: 5px 35px 5px 35px;
    background-color: #ffffff; color: #000000; 
    border: 1pt solid; border-radius: 5px; border-color: #BDBDBD; 
}

#custom_start { position:absolute; top: 140px; left: 600px; }