/* 메인 콘텐트 */
#main_content { position: relative; width: 1000px; height: auto; margin: 0 auto; text-align: center; }

/* 리뷰 목록보기(review_list.php) */
#review_box { position: relative; width: 500px; margin: 0 auto;  }
#review_box h3 { margin-top: 30px;	margin-bottom: 10px; text-align: center; background: white; font-size: 22px; padding-top: 5px; padding-bottom: 5px; border-bottom: solid 3px #dddddd; }
#list_name { position: absolute; left: 10px; font-size: 20px; font-weight: 600;}
#list_day { position: absolute; right: 10px; }
#list_rating { position: absolute; left: 10px; font-size: 16px; color: orange; font-weight: 600;}
#list_img { width: 480px; height: 300px; object-fit: contain; }
#list_content { font-size: 16px;  }
#list_box {background-color: #ffffff; color: #000000; 
    border: 1pt solid; border-radius: 3px; border-color: #BDBDBD; margin-bottom: 5px;
text-align: left; padding: 10px; }

/* 리뷰 쓰기(review_form.php) */
#review_title { font-size: 20px; margin-bottom: 10px; margin-top: 30px; }
#review input[list="rating"]{
    width: 300px; font-size: 18px; text-align: center;
}
#content { width: 500px; height: 300px; font-size: 22px; margin-top: 20px; margin-bottom: 10px; }

#review_regi_btn { 
    font-size: 36px; padding: 10px 30px 10px 30px;
    background-color: #ffffff; color: #000000; 
    border: 2pt solid; border-radius: 10px; border-color: #BDBDBD;
    margin-bottom: 30px;
}
#review label{
    width: 60px; height: 50px; background-position: center; background-size: cover;
    position: absolute; margin-left: 20px; margin-top: -15px;
    background-image: url("./img/image.png");
}
#review input[type="file"] { /* 파일 필드 숨기기 */ 
    position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip:rect(0,0,0,0); border: 0; 
}

